/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;

    
}
.logo_container{
    display: flex;
    align-items: flex-end;
}

#logo_booki {
    width: 61.09px;
    height: 19px;
}

.button_nav {
    display: flex;
    top: 5px;
}

.button_nav a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

}

.button_nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-bottom: 8px;
}


body {
    display: flex;
    justify-content: center;
    margin: 0;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 40px;
    box-sizing: border-box;
}

.title-h h1{
    margin-bottom: 0px;
    font-size: 22px;

}
.title-h p{
    margin-top : 8px;
    margin-bottom : 26px;
}

.search_bar {
    width: 377px;
}
.search_bar form {
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height : 49px;
    margin: 35px 0px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.text-bar {
    width: 100%;
    height: 21px;
    border: none;
    margin: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.button_search {
    background-color: #0065FC;
    height : 49px;
    padding: 15px 16px 15px 16px;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border : none;
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: white;
    
}
.button_search img {
    display: none;
}


.icon-search{
    color: black;
    width: 50px;
    height : 49px;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border-right: 1px solid #F2F2F2;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterbar {
    display: flex;
    flex-direction: row;
    gap : 15px;
    width : 100%;
    align-items: center;
}

.filterbar h2 {

    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.buttons-filter{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 168px;
    border: #D9D9D9 solid 2px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 0;
    margin-right: 0;
    height: 50px;
    font-size: 18px;
    font-weight: bold; 
}

.button-filter:hover {
    background-color: #DEEBFF;
    
}

.info-h {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 35px 0px;
    
}

.info-h span {
    padding-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 68%;
    margin-bottom: 30px;
}

.hebergement-title {
    margin-bottom: 30px;
}

.hebergement-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  
}

.hebergement-cards .card {   
    margin-bottom:30px;
}

.hebergement-cards img {
    object-fit: cover;
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}
.hebergement-cards a {
    width: 30%;

    
}

.hebergement-cards .card-content {
    padding-left: 10px;
    padding-right: 10px;    

}

.hebergement-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin-bottom: 4px;
    margin-top: 0px;
    font-size: 14px;
}

.hebergement-cards .card-rating {
    margin-bottom: 8px;
}

.hebergement-afficher {
    margin-bottom: 30px;
}
.section-link {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}
/****** Populaires ***********/
.populaires {
    width: 30%;
    margin-bottom: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 128px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/**Activités**/

.activites {
    padding: 30px;
}
.activity-card {
    
    height: 439px;
    border-radius: 25px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activites img {
    object-fit: cover;
    width : 100%;
    height: 380px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    
}
.activites .card-title {
    padding-left : 20px;
}

.container-activity{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.activites a {
    width: 23%
}


/**Footer**/
.section-footer {
    display: flex;
    flex-direction: row;
}
.footer-container {
    background-color: #F2F2F2;
    padding: 15px;
    padding-bottom: 0px;
    gap: 15px; 
    width: 33%
}
.footer-container h3 {
    margin: 0px;
}
.footer-container ul {
    padding:0px;
    padding-bottom: 15px;
    margin: 0px; 
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding-bottom: 0px;
        padding-top: 0;
    }
    .buttons-filter h2{
        order: 2;
        width: 100%;
        justify-content: flex-start;
    }
    .buttons-filter {
        flex-wrap: wrap-reverse;
        
    }
    .button-filter {
        margin-left: 0;
        margin-right: 0;
        width: 154px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        
    }

    .hebergements {
        width: 100%;
        padding-bottom: 0px;
    }

    .populaires {
        width: 100%;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    .activity-card {
        
        height: 270px;
    }
    
    .activites img {
        height: 200px;    
    }
    .activites .card-title {
        padding-left : 20px;
        padding: 10px;
        margin : 0px
    }
    
    .container-activity{
        height: 270px;
    }
    
    .activites a {
        width: 23%
    }
  
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0px;
     
    }
    /* Header */
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        padding: 0px;
  
    }
    .logo_container{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 79px;
    }
        
    .button_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .button_nav a {
        width: 50%;
        border-bottom: #F2F2F2 2px solid;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 15px;
    }

    .button_nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;

    }
    /** Section up**/

    .title-h {
        text-align: center;
    }
    .section-up {
        padding-left: 20px;
        padding-right: 20px;
    }
    .search_bar {
        width: 100%;
    }
    .button_search {
        padding: 15px 16px 15px 16px;
        width: 49px;
        border-radius: 15px 15px 15px 15px; 
        box-shadow:0px 3px 15px rgba(0, 0, 0, 0.25);
    }
    .button_search span {
        display: none;
    }
    .button_search img {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .buttons-filter {
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }
    .buttons-filter h2{
        width: 100%;
    }
    .button-filter {
        width: 47%;
        font-size: 14px;
    }
    /**H & P**/
    .section-title {
        margin-bottom: 15px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
    .populaires {
        margin-bottom: 0px;
    }
    .populaires-cards .card {
        margin-top: 0px;
    }
    .populaires-cards {
          flex-direction: column;
          gap: 15px;
       

    }
    .populaires-cards a {
        width: 100%;
    }
    .hebergements {
        background-color: white !important;
        margin-bottom: 0;
    }
    .hebergement-cards {
        flex-direction: column;
        gap: 15px;
    }
    .hebergement-cards .card {
        margin: 0px;
    }
    .hebergement-cards a {
        width: 100%;
    }
    .hebergement-title {
        margin-bottom: 0px;;
    }
   /**Activités**/
   .container-activity {
        flex-direction: column;
        gap: 15px;
        height: auto;
   }
   .container-activity a {
        width: 100%;
   }
 
    /**Footer**/
  
    .section-footer {
    flex-direction: column;
}
    .footer-container {
        width: 100%;
    }
    
}
